/* Global */
*{padding: 0; margin: 0; font-family: inherit; box-sizing: border-box; list-style: none; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

a{
	text-decoration: none;
}
* a:hover{
	cursor: pointer;
	text-decoration: none;
}

*::selection{
	background-color: #fbc2eb;
	color: white;
}

body{
	font-family: 'Andika', sans-serif;
	overflow-x: hidden;
	touch-action: none;
}
body > div{
	padding: 10vw;
}

.btn{
	color: white;
	line-height: 2.5;
	text-align: center;
	padding: 0 1.5rem;
	border-radius: 4px;
}

.animation-fadein{
	animation: fadein 150ms normal forwards ease-out;
}

.animation-pop{
	animation: pop 2000ms normal forwards ease-in-out;
}

@keyframes fadein{
	from{ opacity: 0; }
	to{ opacity: 1; }
}

@keyframes pop{
	from{ transform: scale(1); }
	10%{ transform: scale(1.05);}
	30%{ transform: scale(1); }
	to{ transform: scale(1); }
}

@media only screen and (min-width: 641px){
	body > div{
		padding: 6vh 10vw;
	}

	.btn{
		line-height: 3;
	}
}

@media only screen and (min-width: 1025px){
	body{
		overflow: auto;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	body > div{
		width: 1000px;
		padding: 0;
	}

	.btn{
		line-height: 1;
		padding: 12px 16px;
		font-weight: 600;
	}
}


/* Header */
header h1{
	font-family: 'Handlee', cursive;
	font-size: 9vmin;
	font-weight: 600;
	color: #ee6e73;
	text-align: center;
	line-height: 1;
	margin-bottom: 4rem;
}

@media only screen and (min-width: 641px){
	header h1{
		font-size: 5.2vmin;
		font-weight: 600;
	}
}

@media only screen and (min-width: 1025px){
	header{
		display: inline-block;
		max-width: 1000px;
		text-align: left;
	}
	header h1{
		display: inline-block;
		font-size: 38px;
	}
}



/* Settings */
aside > div{
	margin-bottom: 2rem;
}

aside h2{
	color: rgba(0,0,0,0.75);
	font-weight: 600;
	line-height: 1;
	margin-bottom: 1rem;
	font-size: 1.66rem;
}

@media only screen and (min-width: 641px){
	aside > div{
		margin-bottom: 4rem;
	}

	aside h2{
		font-size: 2rem;
	}
}

@media only screen and (min-width: 1025px){
	main{
		display: flex;
		margin: auto;
	}

	aside{
		width: 600px;
	}

	aside > div{
		margin-bottom: 32px;
	}

	aside h2{
		font-size: 24px;
	}
}


/* Setting - Photo */
input[type='file']{
	display: none;
}
label[for='pic']{
	display: block;
	font-size: 1.2rem;
	font-weight: 400;
	background-color: #767AFF;
}

@media only screen and (min-width: 641px){
	label[for='pic']{
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1025px){
	label[for='pic']{
		display: inline-block;
		font-size: 18px;
		font-weight: 600;
	}
	label[for='pic']:hover{
		opacity: 0.8;
		cursor: pointer;
	}
}


/* Setting - colors */
#settingColor input[type='range']{
	display: none;
}

#colorqtdiv{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: .33rem;
}
#colorqtdiv > button{
	background: none;
	border: none;
	border-radius: 50%;
	outline: none;
	font-size: 10vmin;
	color: rgba(0,0,0,0.75);
	width: 20vmin;
	height: 20vmin;
	transition: color 50ms ease-out, background-color 50ms ease-out;
	user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
#colorqtdiv > button:active{
	color: #ee6e73;
	background-color: rgba(0,0,0,.02)
}

#colors{
	height: 26vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
#colors button{
	border: 1px solid rgba(0,0,0,0.75);
	height: 12vmin;
	width: 20%;
	margin: 0 .1rem .5rem 0;
}

@media only screen and (min-width: 641px){
	#colorqtdiv > button{
		width: 10vmin;
		height: 10vmin;
		font-size: 8vmin;
		line-height: 1;
	}
	#colors{
		flex-wrap: nowrap;
		justify-content: center;
		height: initial;
	}
	#colors button{
		width: 12%;
	}
}

@media only screen and (min-width: 1025px){
	#colorqtdiv{
		justify-content: flex-start;
		margin-left: 86px;
		margin-bottom: 4px;
	}
	#colorqtdiv > button{
		width: 48px;
		height: 48px;
		font-size: 32px;
		margin-right: 12px;
	}
	#colorqtdiv > button:hover{
		cursor: pointer;
		color: #767AFF;
	}

	#colors{
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	#colors button{
		width: 32px;
		height: 32px;
		margin-right: 4px;
	}
	#colors button:hover{
		cursor: pointer;
		border: 1px solid rgba(200,200,200,0.4);
	}
}

/* Color picker */
.color-picker{
	position: fixed;
	top: -50vh;
	left: -50vw;
	width: 200vw;
	height: 200vh;
	background-color: rgba(255,255,255,0.75);
	font-size: 4vh;
	z-index: 10;
}
.color-picker-container{
	position: fixed;
	left: 50%;
	top: 30vh;
	transform: translate(-50%, -50%);
}
.color-picker > a{
	position: fixed;
	left: 50%;
	top: 60vh;
	transform: translate(-50%, -50%);
	background-color: #ee6e73;
	font-size: 1.33rem;
	box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

@media only screen and (min-width: 1025px){
	.color-picker{
		position: absolute;
		width: initial;
		height: initial;
		background: none;
		font-size: 16px;
	}

	.color-picker-container{
		position: relative;
		left: initial;
		top: initial;
	}

	.color-picker > a{
		display: none;
	}
}


/* settings- presets */
#settingPresets select{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	outline: none;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	background-image: url("../res/ui/chevron.svg");
	background-repeat: no-repeat;
	background-position: 97% center;
	width: 100%;
	font-size: 1rem;
	color: rgba(0,0,0,0.75);
	background-color: white;
	border-radius: 8px;
	padding: .66rem 2rem .66rem 1rem;
	border: 1px solid rgba(0,0,0,.2);
}

@media only screen and (min-width: 641px){
	#settingsPresets select{
		font-size: 1.5rem;
		padding: 1rem 2rem 1rem 1rem;
	}
}

@media only screen and (min-width: 1025px){
	#settingPresets select{
		width: 47.6%;
		font-size: 14px;
		padding: 6px 48px 6px 8px;
	}
	#settingPresets select:hover{
		cursor: pointer;
		border: 1px solid rgba(0,0,0,0.4);
	}
}

/* Settings - dl */
#dl{
	display: block;
	margin-bottom: 24vmin;
	background-color: #ee6e73;
	font-size: 6vmin;
	line-height: 1;
	padding: 1rem 1.5rem;
}

@media only screen and (min-width: 641px){
	#dl{
		font-size: 1.5rem;
		margin-bottom: 32vmin;
	}
}

@media only screen and (min-width: 1025px){
	#dl{
		display: inline-block;
		margin-bottom: 0;
		font-size: 18px;
		font-weight: 600;
		margin-top: 16px;
		width: 166px;
		padding: 12px 16px;
	}
	#dl:hover{
		opacity: 0.8;
	}
}


/* canvas */
@keyframes scrollFromBottom {
	from{
		opacity: 0;
		bottom: -40vmin;
	}
	80%{
		bottom: 24px;
	}
	to{
		opacity: 1;
		bottom: 16px;
	}
}

#preview{
	background-color: white;
	border: 1px solid #eee;
	position: fixed;
	bottom: 16px;
	right: 6vw;
	box-sizing: border-box;
	width: 35vmin;
	height: 35vmin;
	display: inline-block;
	margin: 0;
	padding: 4px;
	animation: scrollFromBottom 800ms normal forwards ease-out;
	animation-delay: 2s;
	animation-fill-mode: backwards;
	z-index: 15;
}

@media only screen and (min-width: 641px){
	#preview{
		width: 40vmin;
		height: 40vmin;
	}
}

@media only screen and (min-width: 1025px){
	#previewContainer{
		flex-basis: 400px;
		display: flex;
		align-items: center;
	}
	#preview{
		position: initial;
		animation: none;
		width: 400px;
		height: 400px;
		padding: 8px;
		border: 1px solid #eee;
	}
}


/* About */
#about{
	font-family: 'Rancho';
	color: #333;
	font-size: 12vmin;
	padding-left: 2vw;
}

@media only screen and (min-width: 641px){
	#about{
		font-size: 4rem;
	}
}

@media only screen and (min-width: 1025px){
	#about{
		position: fixed;
		bottom: 32px;
		right: 64px;
		font-size: 48px;
		padding: 8px;
	}
	#about:hover{
		color: #673AB7;
	}
}


/* DL overlay */
#overlay-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 400ms ease-out;
	background-color: rgba(255,255,255,0.4);
	text-align: center;
	z-index: 20;
}

#overlay{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #767AFF;
	color: white;
	width: 100vw;
	height: 100vh;
	z-index: 20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#overlay #close{
	position: fixed;
	font-size: 64px;
	font-weight: 200;
	top: 1vh;
	right: 6vw;
	line-height: 1;
}

#overlay h3{
	font-size: 4.33vh;
	padding: 0 10vw;
	margin-bottom: 4vh;
}

#dlimg{
	width: 30vh;
	box-shadow: 3px 3px 10px rgba(0,0,0,.2);
	margin-bottom: 4vh;
	border-radius: 50%;
}

#overlay p{
	font-size: 3.33vh;
	margin-bottom: 2vh;
	padding: 0 10vw;
}

#overlay a{
	display: inline-block;
	width: 60vw;
	font-size: 4vh;
	text-align: center;
	padding-right: 12px;
	padding-left: 0;
	line-height: 2;
	background-color: white;
	color: #767AFF;
	margin-top: 12px;
}

@media only screen and (min-width: 1025px){
	#overlay{
		position: initial;
		width: 600px;
		height: 550px;
		border-radius: 8px;
		box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
		padding: 16px;
	}

	#overlay h3{
		padding: 0;
		font-size: 28px;
		margin-bottom: 32px;
		line-height: 1.2;
	}

	#dlimg{
		width: 256px;
		height: 256px;
	}

	#overlay p{
		font-size: 22px;
		margin-bottom: 32px;
		padding: 0;
		line-height: 1.2;
	}

	#overlay a{
		margin-top: 0;
		font-size: 22px;
		width: 240px;
		line-height: 1.2;
		animation-delay: 1s;
		animation-iteration-count: infinite;
	}
	
	#overlay #close{
		display: none;
	}
	#overlay #close:hover{
		cursor: pointer;
	}
}